{% extends 'blocks/base.html' %}
{% block title %}Регистрация{% endblock %}
{% block main %}
<div class="login_block">
    <div class="container_login">
        <div class="login_main_text">Регистрация</div>
        <form method="post">
            {% csrf_token %}
            {% for f in form %}
                <div class="container_login_wrapper"><label class="login_text" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</div>
                <div class="form-error">{{ f.errors }}</div>
            {% endfor %}
            <button type="submit" id="enter">Регистрация</button>
        </form>
    </div>
</div>
{% endblock %}
