{% extends "blocks/base.html" %}
{% block title %}Главная{% endblock %}
{% block main %}
    <main class="main_page">
        <h1>Сайт расписание РТУ МИРЭА</h1>
        <p>Данный портал предоставляет возможность смотреть расписание для своей группы.</p>
        <p>Расписание берется из excel файлов, которые выкладываются на официальном сайте МИРЭА. Данные на портале обновляются автоматически, раз в 4 часа.</p>
        <p>Для просмотра расписания необходимо зарегистрироваться и перейти на страницу <a href="timetable/">Расписание.</a></p>
    </main>
{% endblock %}