body {
    color: #333333;
    background-color: rgb(237, 235, 233)
}

/*  HEADER  */
header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 50px;
    margin-right: 10px;
    margin-left: 10px;
}

.main_header{
    z-index: 5;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    color: rgb(54, 52, 48);
}

.timetable_header {
    z-index: 5;
    padding: 10px;
    margin-top: 8px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(54, 52, 48);
}

.login {
    z-index: 5;
    padding: 10px;
    color: rgb(54, 52, 48);
    font-size: 20px;
    text-decoration: none;
}

.background,  .light,  .dark,
.settings {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(54, 52, 48);
}


.setting_exit {
    z-index: 5;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(186, 174, 146);
    border-bottom: solid rgb(187, 187, 187);
}

.main_header:hover,   .login:hover,  .settings:hover,   .background:hover,   .light:hover, 
  .timetable_header:hover, .setting_exit:hover,  .light:hover,  .dark:hover {
    z-index: 5;
    color: black;
}

.dropdown{
    z-index: 5;
    margin-top: 10px;
    position: relative;
    color: rgb(54, 52, 48);
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 40px;
    right: -50px;
    background-color: #f1f1f1;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 5;
    color: rgb(54, 52, 48);
}

.dropdown-content a {
    color: rgb(54, 52, 48);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.container_login {
    z-index: 5;
    padding: 30px;
    background-color: lightgrey;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.login_main_text {
    font-size: 30px;
    margin-bottom: 30px;
}

.error {
    color: red;
    margin-bottom: 20px;
    font-size: 20px;
}

.login_inp,   .password_inp {
    height: 22px;
    width: 270px;
    font-size: 15px;
    margin-bottom: 30px;
}

.login_text{
    font-size: 16px;
    margin-bottom: 5px;
}

#enter {
    font-size: 25px;
    margin-bottom: 20px;
    width: 278px;
    background-color: blue;
    color: white;
    border: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    -webkit-box-pack: center;
    justify-content: center;
}

#enter:hover {
    background-color: #3552CF;
}
